* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  align-items: center;
}
.nav-link ul {
  font-size: 20px;
  display: flex;
  gap: 20px;
}
.nav-link li {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
.nav-link a:hover {
  color: blue;
}
.btn {
  padding: 10px 18px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
}
.btn:hover {
  background-color: #005500;
}
.logo img {
  width: 150px;
  height: auto;
}
.hero-section {
  background: url('../b13-a-01/B13-A01-Knowledge-Vault/assets/hero-bg.png');

  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 600px;
}
.hero-content {
  text-align: center;
  padding: 60px;
}
.btn-hero {
  padding: 12px 22px;
  background-color: #fff8f3;
  margin-bottom: 30px;
  border: 1px solid #ffcc99;
  border-radius: 15px;
  color: green;
  cursor: pointer;
}
.btn-hero:hover {
  background-color: #ffe5cc;
}
.color {
  color: green;
}
.hero-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 900;
  light-height: 80px;
}
.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
  color: white;
  line-height: 30px;
}
.btn2 button {
  padding: 12px 22px;

  color: white;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.btn2 button:hover {
  background-color: #778800;
}
