* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  align-items: center;
}
.nav-link ul {
  font-size: 20px;
  display: flex;
  gap: 20px;
}
.nav-link li {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
.nav-link a:hover {
  color: blue;
}
.btn {
  padding: 10px 18px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
}
.btn:hover {
  background-color: #005500;
}
.logo img {
  width: 150px;
  height: auto;
}
.hero-section {
  background: url('../b13-a-01/B13-A01-Knowledge-Vault/assets/hero-bg.png');
  
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px;
  background-size: cover;
  height: 100vh;
}
.hero-content {
  text-align: center;
  padding: 60px;
}
.btn-hero {
  padding: 12px 22px;
  background-color: #fff8f3;
  margin-bottom: 30px;
  border: 1px solid #ffcc99;
  border-radius: 15px;
  color: green;
  cursor: pointer;
  align-items:center;
  display: inline-flex;
  gap:5px;
  justify-content:center;
}
.btn-hero:hover {
  background-color: #ffe5cc;
}
.color {
  color: green;
}
.hero-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 900;
  light-height: 80px;
}
.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
  color: white;
  line-height: 30px;
}
.start-btn{
  align-items:center;
  display: inline-flex;
  gap:5px;
  justify-content:center;
  background-color: #66cdaa;
  color:white;
}
.see-btn{
    align-items:center;
  display: inline-flex;
  gap:5px;
  justify-content:center;
}

.btn2 button {
  padding: 12px 32px;
  border: 1px solid gray;
  border-radius:5px;
  margin-right: 10px;
  cursor: pointer;
}

.btn2 button:hover {
  background-color: #778800;
}
.card-heading {
  padding: 40px;
  text-align: center;
}
.card-heading h2 {
  font-size: 40px;
  font-weight: 600px;
  line height:30px;
  margin-bottom: 10px;
}
.card-heading p{
    font-size:15px;
    
    line-height:25px;
    margin-bottom:15px;
}
.card-section{
padding: 20px 150px;
background-color: #f0f0f0;
}
.card-box{
    display:flex;
    justify-content:center;
    gap: 20px;
    
}
.card h4{
    font-size:20px;
    font-weight:semi-bold;
    line-height:20px;
    text-align:center;
    margin-bottom:10px;
}
.card p{
    font-size:14px;
    line-height:20px;
    text-align:center;
    
}
.card img{
    background-color:red;
    border-radius:50%;
    display:block;
    margin:0 auto;
    margin-bottom: 20px;
    padding:10px;
    
}
.card{
    border:1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    padding: 25px 40px;
    
}
.container{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    /* align-items:center; */
    padding:50px 150px;
    gap:40px;

}

.content{
    padding:90px 10px;
    
}
.content h3{
    font-size: 20px;
    line-height:20px;
    margin-bottom: 20px;
    color:green;
    
}
.content h2{
    font-size:30px;
    font-weight:bold;
    line-height:40px;
    margin-bottom:10px;
   
}
.content p{
    font-size:18px;
    line-height:30px;
    margin-bottom: 40px;

}
.idea{
    display:flex;
    margin-bottom:10px
}
.access-container{
    margin: 0 auto;
    text-align:center;
    background-color:#f0f0f0;
    margin:100px 150px;
    padding:60px 40px;
    boeder:1px solid gray;
    border-radius:15px;
    
}
.access-container h2{
    font-size:40px;
    font-weight:700;
    margin-bottom: 20px;
    
}
.access-container p{
    font-size:15px;
    color:rgba(120,120,120);
    margin-bottom:10px;
    line-height:20px;
}
.access-btn{
    padding: 10px 18px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  align-items:center;
  display: inline-flex;
  gap:5px;
  justify-content:center;
}
.access-btn:hover{
    background-color:#778800;
}

.footer{
    background-color:black;
}
.footer-container{
    margin:0 auto;
    padding: 60px 150px;
    display: flex;
    justify-content:space-between;

}
.social h3{
    color: white;
    margin-bottom:10px;
    font-size:20px;
    line-height:20px;
}
.social-link img{
    padding:5px;
}
.copyright-text p{
    text-align:center;
    color:white;
    padding:30px;
}